@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i');
*{
	margin:0;
	font-family:'Open Sans', 'sans-serif';
}
h1{
	
	font-size:40px;
	color:#4ba3c3;
	transition:all ease-in 0.4s
}
img{
	width:80px;
}
.wrapper{
	width:40%;
	margin: 0 auto;
	text-align:left;
	top:50%;
	padding-left:50px;
	border-left: 4px solid #bbb;
	left:50%;
	transition:all ease-in 0.5s;
	position:absolute;
	transform:translate(-40%, -50%);
}
.wrapper #weather-info p:nth-child(2){
	font-size:28px;
}
#toggle span:nth-child(1){
	color:#ff206e;
}
#toggle span:nth-child(3){
	color:#4ba3c3;
}

#toggle{
	width:90%;
	margin:20px 0;
}

#temp{
	font-size:70px;
	color:#ff206e;
	transition:all ease-out 0.4s;
}
#toggle span{
	font-size:30px;
	margin:0;
}
#switch {

	position: relative;
	display: inline-block;
	width: 40px;
	height: 24px;
}

#switch input{display:none;}

#slider {
	border-radius:24px;	
	position:absolute;
	cursor:pointer;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background-color:#ff2063;
	-webkit-transition:.4s;
	transition: .4s;
}
#slider:before {
	position:absolute;
	content:"";
	height: 16px;
	width: 16px;
	left: 4px;
	bottom: 4px;
	background-color: #fcfffd;
	border-radius:24px;
	-webkit-transition:.4s;
	transition: .4s;
}
input:checked + #slider {
	background-color:#4ba3c3;
}
input:checked + #slider:before {
	transform: translateX(16px);
}
input:focus + #slider{
	box-shadow:0 0 1px #4ba3c3;

}
#weather-info{
	margin-top:20px;
	color:#ff206e;
	font-size:20px;
}
